@CHARSET "UTF-8";
body {
    padding-top: 50px;
}


#right {
    text-align: center;
}

#info {
	 text-align: center;
	 background-color: Purple;
	 color: white;

}

#navbar {
    margin-right: 0;
}
html{
    overflow-y: scroll;
}