@CHARSET "UTF-8";
body {
    padding-top: 50px;
}
#right {
    text-align: center;
}
#info {
	 color: white;
	 min-height: 500px;
	 font-size: 1.8em;
}
#navbar {
    margin-right: 0;
}
html{
    overflow-y: scroll;
}
.container{
	text-align: center;
}
.container-fluid{
		 background-image: url(../img/5.jpg);
}
