@CHARSET "UTF-8";
body {
    padding-top: 55px;
    background-image: url("../IMG/1.jpg");
    background-attachment: fixed;
}

#left0{
    position: fixed;


}

#right {
    text-align: center;


}

#foot {

}

#navbar {
    margin-right: 0;
}
html{
    overflow-y: scroll;
}